{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.9.1"
        },
        "modules": false,
        "useBuiltIns": true,
        "debug": false
      }
    ]
  ],
  "plugins": [
    [
      "transform-decorators-legacy",
      "transform-object-rest-spread"
    ]
  ]
}