{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.9.4"
        },
        "useBuiltIns": true,
        "debug": false
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread"
  ]
}