NODE_ENV=development
PORT=3000
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
DB_PORT=3306
DB_DATABASE=eva_skeleton
DB_REPLICATION_WRITE_HOST=127.0.0.1
DB_REPLICATION_WRITE_USERNAME=root
DB_REPLICATION_WRITE_PASSWORD=
DB_REPLICATION_READ0_HOST=127.0.0.1
DB_REPLICATION_READ0_USERNAME=root
DB_REPLICATION_READ0_PASSWORD=
SWAGGER_HOST=localhost:3000
